@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,900;1,500&display=swap");
body {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  background: #96C6FD;
}

#app-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90vw;
}

.textarea-colors, .previewer-container, .editor-container .textarea-container textarea, .editor-container {
  background: #E1EEFC;
}

.editor-container {
  margin: 2rem auto;
  width: 80%;
  box-shadow: 1px 1px 10px #000;
  border: 0px solid black;
  min-height: 200px;
  border-radius: 4px;
  overflow: hidden;
}
.editor-container .textarea-container {
  overflow: hidden;
}
.editor-container .textarea-container textarea {
  min-height: 200px;
  outline: none;
  margin-bottom: -5px;
  resize: vertical;
  width: 99%;
  padding-left: 5px;
  padding-top: 5px;
  border: none;
}

.previewer-container {
  width: 100%;
  box-shadow: 1px 1px 10px #000;
  overflow-wrap: break-word;
  border: 0px solid black;
  min-height: 300px;
  border-radius: 4px;
  overflow: hidden;
  max-height: auto;
}
.previewer-container #preview {
  padding: 0 1rem;
}
.previewer-container #preview blockquote {
  border-left: 3px solid #224b4b;
  color: #224b4b;
  padding-left: 5px;
  margin-left: 25px;
}
.previewer-container #preview > p > code {
  padding: 3px;
}
.previewer-container #preview code {
  background: white;
  font-size: 0.875rem;
  font-weight: bold;
}
.previewer-container #preview pre {
  display: block;
  overflow: auto;
  background: white;
  padding: 5px;
  line-height: 1.2;
}
.previewer-container #preview h1 {
  border-bottom: 2px solid black;
}
.previewer-container #preview h2 {
  border-bottom: 1px solid black;
}
.previewer-container #preview table {
  border-collapse: collapse;
}
.previewer-container #preview td,
.previewer-container #preview th {
  border: 2px solid black;
  padding-left: 5px;
  padding-right: 5px;
}
.previewer-container #preview img {
  display: block;
  max-width: 90%;
  margin: 2rem auto;
}

.toolbar {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  font-weight: 700;
  font-size: 1.2rem;
  border-bottom: 0px solid black;
  background: #6FA8E9;
}
.toolbar i {
  margin-left: auto;
  font-size: 1rem;
}
.toolbar i:hover {
  color: #777;
  cursor: pointer;
}

.converter {
  width: 100px;
  text-align: center;
  font-size: 35px;
  margin: auto;
}

.maximized {
  width: 100%;
  min-height: 100vh;
}
.maximized .textarea-container {
  height: 95vh;
}
.maximized .textarea-container textarea {
  margin: auto;
  resize: none;
  height: 99%;
}

.hide {
  display: none;
}

.heading {
  padding: 0px;
  marging: 0px;
}

@media (min-width: 800px) {
  #app-container {
    flex-direction: row;
    width: 97vw;
  }
  #app-container .previewer-container {
    height: 100vh;
    width: 47vw;
    margin: 10px;
  }
  #app-container .previewer-container .preview-container {
    height: 95vh;
    overflow: scroll;
  }
  #app-container .editor-container {
    height: 100vh;
    width: 45vw;
  }
  #app-container .editor-container .textarea-container {
    height: 95vh;
  }
  #app-container .editor-container .textarea-container textarea {
    margin: auto;
    resize: none;
    height: 99%;
  }
  #app-container .maximized {
    width: 95vw;
  }
}
.heading {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
